* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #efd1874a;
  font-family: "Nunito", sans-serif;
}

.Toastify {
  --toastify-font-family: "Nunito", sans-serif;

  --toastify-toast-min-height: 20vh;

  --toastify-color-light: #afeef9;
  --toastify-text-color-light: #3660de;
  --toastify-spinner-color: #3660de;
}

.Toastify__toast--success {
  --toastify-color-light: #dbf1ad;
  --toastify-text-color-light: #42c71d;
  --toastify-icon-color-success: #42c71d;
}

.Toastify__toast--warning {
  --toastify-color-light: #f6d296;
  --toastify-text-color-light: #e8910f;
  --toastify-icon-color-warning: #e8910f;
}

.Toastify__toast--error {
  --toastify-color-light: #fc8279;
  --toastify-text-color-light: #d11036;
  --toastify-icon-color-error: #d11036;
}

div.Toastify__toast {
  text-align: center;
  border-radius: 30px;
  font-size: 25px;
  border: none;
}

@media only screen and (max-width: 480px) {
  div.Toastify__toast {
    border-radius: 30px;
    margin-top: 50px;
  }
}
